<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-title" content="maze-solver">
    <meta name="application-name" content="maze-solver">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" type="image/png" href='/images/way-out-challenge.ico' sizes="256x246">
    <link rel="apple-touch-icon" href='/images/way-out-challenge.ico' sizes="256x246">
    <link rel="shortcut icon" type="image/png" href="/images/way-out-challenge.png"/>
    <title><%= title %></title>
	<style>
		html:not(.js), html:not(.js) body {
			opacity: 1;
		} 
		html:not(.js) #DOMLoadElement {
			display: none;
		}
		.ad-wa-loading {
			position: fixed;
			z-index: 100000;
			width: 100vw;
			height: 100vh;
			top: 0;
			left: 0;
			background-color: #FFF;
		}
		.ad-up-box-loader {
			position: absolute;
			z-index: 400;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			backdrop-filter: blur(20px);
			-webkit-backdrop-filter: blur(20px);
			display: flex;
			display: -webkit-flex;
			justify-content: center;
			align-items: center;
		}
	
		.loader {
			position: relative;
			margin: 0 auto;
			width: 50px;
		}
	
		.loader::before {
			content: '';
			display: block;
			padding-top: 100%;
		}
		
		.circular {
			animation: rotate 2s linear infinite;
			height: 100%;
			transform-origin: center center;
			width: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
		}
		
		.path {
			stroke-dasharray: 1, 200;
			stroke-dashoffset: 0;
			animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
			stroke-linecap: round;
		}
		
		@keyframes rotate {
			100% {
				transform: rotate(360deg);
			}
		}
		
		@keyframes dash {
			0% {
				stroke-dasharray: 1, 200;
				stroke-dashoffset: 0;
			}
			50% {
				stroke-dasharray: 89, 200;
				stroke-dashoffset: -35px;
			}
			100% {
				stroke-dasharray: 89, 200;
				stroke-dashoffset: -124px;
			}
		}
		
		@keyframes color {
			100%,
			0% {
				stroke: #d62d20;
			}
			40% {
				stroke: #0057e7;
			}
			66% {
				stroke: #008744;
			}
			80%,
			90% {
				stroke: #ffa700;
			}
		}
	</style>
	<script type="text/javascript">document.documentElement.className="js";document.documentElement.classList.add('DOMNtLoad');var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this website in a modern browser that supports CSS Variables.");</script>
</head>
<body class="loading">
	<noscript>
        <style>
        .noscript {
            z-index: 5000;
            position: fixed;
            top: 0;
            left: 0;
            padding: 92px 100px 140px auto;
            text-align: center;
            width: 100vw;
        }

        .noscript-title {
            position: relative;
            color: #111;
            z-index: 50001;
            font-size: 48px;
            font-weight: 600;
            letter-spacing: -.003em;
            line-height: 1.08365;
            margin: 0 auto 54px auto;
            width: 502px;
        }

        .noscript-title ~ p {
            z-index: 50001;
            position: relative;
            font-size: 2em;
            font-weight: 700;
        }

        .noscript-blur {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            -webkit-backdrop-filter: blur(20px);
            -moz-backdrop-filter: blur(20px);
            -ms-backdrop-filter: blur(20px);
            -o-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
        }

        @media only screen and (max-width: 1068px) {
            .noscript {
                margin: 90px auto 120px auto;
            }

            .noscript-title {
                font-size: 40px;
                letter-spacing: 0;
                line-height: 1.1;
                margin: 0 auto 45px auto;
            }
        }

        @media only screen and (max-width: 735px) {
            .noscript {
                margin: 45px auto 60px auto;
                width: 87.5%;
            }

            .noscript-title {
                font-size: 32px;
                letter-spacing: .004em;
                line-height: 1.125;
                margin: 0 auto 35px auto;
                max-width: 330px;
                width: auto;
            }
        }

        </style>
        <div class="noscript">
            <h1 class="noscript-title">This page requires JavaScript.</h1>
            <p>Please turn on JavaScript in your browser and refresh the page to view its content.</p>
            <div class="noscript-blur"></div>
        </div>
    </noscript>
	<div id="DOMLoadElement">
		<div class="ad-wa-loading">
			<div class="ad-up-box-loader">
				<div class="loader">
					<svg class="circular" viewBox="25 25 50 50">
						<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="10"/>
					</svg>
				</div>
			</div>
		</div>
	</div>

    <main class="main-content">
        <div class="ma-ctrl" id="ma-ctrl">
            <div class="ma-ctrl-tt">
                <h1>Settings</h1>
            </div>
            <div class="ma-ctrl-b">
                <h2>Maze solving algorithm</h2>
                <div class="ma-selector">
                    <label for="sel-algo">
                        <select name="algorithm-selection" required="required" id="sel-algo">
                            <option selected value="1">Breadth-First</option>
                            <option value="2">Bidirectional Breadth-First</option>
                            <option value="3">Greedy Best-First</option>
                            <option value="4">Dijkstra</option>
                            <option value="5">A*</option>
                        </select>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <g data-name="Layer 2">
                                <g data-name="chevron-down">
                                    <rect width="24" height="24" opacity="0"/>
                                    <path d="M12 15.5a1 1 0 0 1-.71-.29l-4-4a1 1 0 1 1 1.42-1.42L12 13.1l3.3-3.18a1 1 0 1 1 1.38 1.44l-4 3.86a1 1 0 0 1-.68.28z"/>
                                </g>
                            </g>
                        </svg>
                    </label>
                </div>
            </div>
            <div class="ma-ctrl-b">
                <h2>Maze generation algorithm</h2>
                <div class="ma-selector">
                    <label for="maze-gen">
                        <select name="maze-generation" required="required" id="maze-gen">
                            <option hidden selected value="0">Custom</option>
                                <option value="1">Randomized Depth-First</option>
                                <option value="2">Kruskal's Algorithm</option>
                                <option value="3">Prim's Algorithm</option>
                                <option value="4">Wilson's Algorithm</option>
                                <option value="5">Aldous-Broder Algorithm</option>
                                <option value="6">Recursive Division</option>
                        </select>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <g data-name="Layer 2">
                                <g data-name="chevron-down">
                                    <rect width="24" height="24" opacity="0"/>
                                    <path d="M12 15.5a1 1 0 0 1-.71-.29l-4-4a1 1 0 1 1 1.42-1.42L12 13.1l3.3-3.18a1 1 0 1 1 1.38 1.44l-4 3.86a1 1 0 0 1-.68.28z"/>
                                </g>
                            </g>
                        </svg>
                    </label>
                </div>
            </div>
            <div class="ma-btns">
                <div class="ma-btns-c">
                    <button id="ma-clear-btn">Clear</button>
                </div>
                <div class="ma-btns-c play-btn">
                    <button id="ma-play-btn">Play</button>
                </div>
            </div>
        </div>

        <div id="visualizer" class="ma-grid-body"></div>
    </main>
    <!-- <script src="./script.js"></script> -->
    <script type="text/javascript">
        this.gbar_ = {
            CONFIG: [[[["style.css"], ["script.js"]], ["/stylesheets/", "/javascripts/"]]],
        };
        this.gbar_ = this.gbar_ || {};
        (function(_) {
			var window = this;
			try {
				_.tj = function(a, b, c) {
					b = Kd[1][0] + b;
					a.rel = c;
					-1 != c.toLowerCase().indexOf("stylesheet") ? (a.href = _.Bc(b), (b = _.ad(a.ownerDocument && a.ownerDocument.defaultView)) && a.setAttribute("nonce", b)) : a.href = b instanceof _.zc ? _.Bc(b) : b instanceof _.Ec ? _.Fc(b) : _.Fc(_.Lc(b))
				};

			} catch (e) {
				console.info(e)
			}

			try {
				var Kd;
				window.gbar_ && window.gbar_.CONFIG ? Kd = window.gbar_.CONFIG[0] || {} : Kd = [];

				_.n = this || self;
				var yc;
				_.zc = function(a, b) {
					this.j = b === yc ? a : ""
				};
				_.da = function(a, b) {
					if (Error.captureStackTrace)
						Error.captureStackTrace(this, _.da);
					else {
						var c = Error().stack;
						c && (this.stack = c)
					}
					a && (this.message = String(a));
					void 0 !== b && (this.qR = b);
					this.j = !0
				};
				_.E = function(a, b, c) {
					return -1 === b ? null : b >= a.C ? a.o ? a.o[b] : void 0 : (void 0 === c ? 0 : c) && a.o && a.o[b] ? a.o[b] : a.A[b + a.B]
				};
				_.F = function(a, b) {
					a = _.E(a, b);
					return null == a ? a : !!a
				};
				_.Yg = function(a) {
					return ":" + (a.j++).toString(36)
				};
				_.Id = function(a) {
					// _.da.call(this, _.Yg(a, 2));
					this.j = !1;
					this.status = a
				};

				_.fk = function(e) {
					this.files ? this.files.push(e) : this.files = [e]
				};
				_.gk = function(a) {
					return this.progressedCount = 0, this.files.length ? void this.files.forEach(function(e) {
						_.bk(e);
					}) : void _.cmp();
				};
				_.bk = function(a) {
					a.addEventListener("load", function() {
						this.progressedCount++;
						this.progressedCount == this.files.length && (this.fileLoaded = true, _.cmp())
					}.bind(this));
				};
				_.cmp = function() {
					if (this.fileLoaded) {
						document.body.classList.remove('loading');
						document.body.removeChild(document.getElementById('DOMLoadElement'));
						document.documentElement.classList.remove('DOMNtLoad');
					}
				};

				var vj = function(a) {
					this.src = a;
					this.j = {};
					this.o = 0
				};
				_.me = function(a) {
					return _.je(document, a)
				};
				_.je = function(a, b) {
					b = String(b);
					"application/xhtml+xml" === a.contentType && (b = b.toLowerCase());
					return a.createElement(b)
				};
				_.Bc = function(a) {
					return a.toString()
				};
				_.Ac = function(a) {
					return a instanceof _.zc && a.constructor === _.zc ? a.j : "type_error:TrustedResourceUrl"
				};
				_.ce = function(a) {
					var b;
					if (Jda && !(_.mf && _.rf("9") && !_.rf("10") && _.ea.SVGElement && a instanceof _.ea.SVGElement) && (b = a.parentElement))
						return b;
					b = a.parentNode;
					return _.ig(b) ? b : null
				};
				_.xj = function(a) {
					var b,
						c = (a.ownerDocument && a.ownerDocument.defaultView || window).document,
						d = null === (b = c.querySelector) || void 0 === b ? void 0 : b.call(c, "script[nonce]");
					(b = d ? d.nonce || d.getAttribute("nonce") || "" : "") && a.setAttribute("nonce", b)
				};
				_.zj = function(a, b) {
					b = Kd[1][1] + b;
					b = "function" == typeof _.yj && b instanceof _.yj ? _.wj(b) : b;
					a.src = b;
					_.xj(a)
				};
				_.fe = function(a, b) {
					return (b || document).getElementsByTagName(String(a))
				};
				_.ad = function(a) {
					return _.$c('style[nonce],link[rel="stylesheet"][nonce]', a)
				};
				_.$c = function(a, b) {
					b = (b || _.n).document;
					return b.querySelector ? (a = b.querySelector(a)) && (a = a.nonce || a.getAttribute("nonce")) && bd.test(a) ? a : "" : ""
				};
				
				var Aj = function(a, b, c) {
					console.log(46, {
						att: a,
						max: b,
						url: c
					})
				},
				Cj = function(a, b, c) {
					console.log(47, {
						att: a,
						max: b,
						url: c
					});
					a < b ? Bj(a + 1, b) : console.log(Error("da`" + a + "`" + b), {
						url: c
					})
				},
				Bj = function(a, b) {
					if (Dj) {
						var c = _.me("SCRIPT");
						c.async = !0;
						c.type = "text/javascript";
						c.charset = "UTF-8";
						_.zj(c, Dj);
						c.onerror = () => Aj(a, b, c.src);
						_.fe("BODY")[0].appendChild(c)
						_.fk(c);
					}
				},
				Jj = function() {
					Bj(1, 2);
					if (Ij) {
						var a = _.me("LINK");
						a.setAttribute("type", "text/css");
						_.tj(a, Ij, "stylesheet");
						var b = _.ad();
						b && a.setAttribute("nonce", b);
						_.fe("HEAD")[0].appendChild(a);
						_.fk(a);
					}
				},
				Dj,
				Ij,
				Ej = function(a) {
					a = a || []
					a.forEach((e, i) => {
						e.forEach(u => {
							Dj = Ij = null;
							i === 0 ? Ij = u : Dj = u;
							Jj();
						})
					});
					_.gk();
				};
					
				(function() {
					window.addEventListener("DOMContentLoaded", function() {
						window.setTimeout(Ej(Kd[0]), 0);
					})
				})();
			} catch (e) {
				console.info(e);
			}
		})(this.gbar_);
    </script>
</body>
</html>