/*









 ___ ___   ____  _____    ___       _____  ___   _      __ __    ___  ____  
|   |   | /    ||     |  /  _]     / ___/ /   \ | |    |  |  |  /  _]|    \ 
| _   _ ||  o  ||__/  | /  [_     (   \_ |     || |    |  |  | /  [_ |  D  )
|  \_/  ||     ||   __||    _]     \__  ||  O  || |___ |  |  ||    _]|    / 
|   |   ||  _  ||  /  ||   [_      /  \ ||     ||     ||  :  ||   [_ |    \ 
|   |   ||  |  ||     ||     |     \    ||     ||     | \   / |     ||  .  \
|___|___||__|__||_____||_____|      \___| \___/ |_____|  \_/  |_____||__|\_|







 __  __                                                  ____                             
|  \/  |   __ _  __  __   ___   _ __     ___    ___     / ___|   __ _   _ __ ___     __ _ 
| |\/| |  / _` | \ \/ /  / _ \ | '_ \   / __|  / _ \   | |  _   / _` | | '_ ` _ \   / _` |
| |  | | | (_| |  >  <  |  __/ | | | | | (__  |  __/   | |_| | | (_| | | | | | | | | (_| |
|_|  |_|  \__,_| /_/\_\  \___| |_| |_|  \___|  \___|    \____|  \__,_| |_| |_| |_|  \__,_|








*/

/*!
*   @license © Copyright 2022, Maxence Gama. All rights reserved.
*   @author: Maxence Gama, maxence.gama@gmail.com, @maxencegama
*/




@font-face { font-family: "Marianne-Regular"; src: url('/fonts/Marianne-Regular.woff') format("woff"); }

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
			box-sizing: border-box;
	font-family: "Marianne-Regular", sans-serif;
}

html,
body {
	-webkit-font-smoothing: antialiased;
	-webkit-scroll-behavior: smooth;
	-moz-scroll-behavior: smooth;
	-ms-scroll-behavior: smooth;
	-o-scroll-behavior: smooth;
	scroll-behavior: smooth;
	-ms-overflow-style: none;
	scrollbar-width: none;
	-webkit-scrollbar-width: none;
}

::-webkit-scrollbar {
	display: none;
}

h1,
a {
	text-decoration: none;
	text-align: center;
	font-weight: 500;
	cursor: default;
}

body {
	position: relative;
	height: 100vh;
	width: 100vw;
}

:root {
	--mazor-color: #404d68;
	--cell-wall: #212841;
	--cell-g: rgb(231, 231, 233);
	--cell-w: rgb(255, 255, 255); 

	--main-background: #f6f7f9;
	--card-background: #f2f2f7;
	--card-header: #dedee7;
	--table-border: rgb(199, 199, 199);
	--alive-cell: #000;
	--major-color: #404d68;
	--button-border: #c9cfd8;
	--button-shadow: #9098a9;
}

draggable-element {
	display: block;
	transform: translate3d(var(--x, 0px), var(--y, 0px), 0px);
	height: max-content;
	position: absolute;

	&.circled {
		transition: all 0.5s ease-in-out;
		overflow: hidden;
	}

	&.float-left {
		height: 100vh;

		.panel {
			border-radius: 0 !important;
			height: 100%;
			box-shadow: none !important;
		}

		.circled-btn {
			display: none;
		}
	}
}

main.main-content {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.ma-ctrl, .ma-grid-body {
	position: relative;
	height: 100%;
}

.ma-ctrl {
	width: 25%;
	min-width: 200px;
}

.ma-grid-body {
	width: 75%;
}

.ma-ctrl-tt {
	position: relative;
	width: 100%;
	background-color: var(--mazor-color);
	margin: 0 0 50px;
}

.ma-ctrl-tt > h1 {
	color: #FFF;
	text-align: center;
	padding: 10px 0 20px;
}

.ma-ctrl-b {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 30px 0 10px;
}

.ma-ctrl-b h2 {
	color: var(--mazor-color);
	font-size: 1.2em;
	font-weight: 400;
}

.ma-selector {
	position: relative;
	width: 100%;
	padding: 10px 10px;
	height: max-content;
}

.ma-selector > label {
	position: relative;
	width: 100%;
}

.ma-selector > label select {
	-webkit-appearance: none;
	padding: 7px 40px 7px 12px;
	width: 100%;
	border: 1px solid #c9cfd8;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0 1px 3px -2px #9098a9;
	cursor: pointer;
	font-family: inherit;
	font-size: 18px;
	transition: all 150ms ease;
	color: #404d68;
}

.ma-selector > label svg {
	position: absolute;
	right: 12px;
	top: -2px;
	height: 30px;
	width: 30px;
	fill: var(--mazor-color);
}

.ma-btns {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}

.ma-btns-c {
	position: relative;
	width: 120px;
	height: max-content;
	margin: 40px 0 10px;
}

.ma-btns-c > button {
	-webkit-appearance: none;
	padding: 7px 0px 7px 0px;
	width: 100%;
	font-size: 1em;
	font-weight: 900;
	color: var(--mazor-color);
	border: 1px solid #c9cfd8;
	box-shadow: 0 1px 3px -2px #9098a9;
	border-radius: 5px;
	background: none;
	transition: all 150ms ease;
}

.ma-btns-c.play-btn > button {
	background: rgb(48, 212, 84);
	color: #FFF;
}

.ma-grid-body {
	position: relative;
	background: rgb(197, 198, 211);
}

#grid-table {
	border-spacing: 0;
	border-collapse: collapse;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 4;
}

.cell {
	z-index: 5;
	background-position: center;
	background-repeat: no-repeat;
}

.cell_1 {
	background-color: var(--cell-w);
}

.cell_2 {
	background-color: var(--cell-g);
}

.cell_wall {
	background-color: var(--cell-wall);
}


.cell_algo
{
	position: relative; 
	background-image: url(/shapes/algo.svg);
	background-size: calc(100%) calc(100%);
	-webkit-animation: algo_in 0.3s;
	animation: algo_in 0.3s;
}

.cell_1.cell_path {
	background-color: rgb(251, 244, 79);
}

.cell_2.cell_path {
	background-color: rgb(245, 238, 73);
}

.cell_1.visited_cell {
	background-color: rgb(164, 215, 246);
}

.cell_2.visited_cell {
	background-color: rgb(152, 203, 235);
}

.start {
	background-image: url(/shapes/start.svg);
	background-size: calc(100%) calc(100%);
}

.target {
	background-image: url(/shapes/target.svg);
	background-size: calc(100%) calc(100%);
}


@-webkit-keyframes algo_in {
	from { background-size: calc(0%) calc(0%); }
	to { background-size: calc(100%) calc(100%); }
}

@keyframes algo_in {
	from { background-size: calc(0%) calc(0%); }
	to { background-size: calc(100%) calc(100%); }
}

.select select:focus {
	outline: none;
	border-color: #07f;
	box-shadow: 0 0 0 2px rgba(0,119,255,0.2);
	box-sizing: border-box;
}

.select select:hover + svg {
	stroke: #07f;
	box-sizing: border-box;
}

.ma-btns-c > button:hover {
	outline: none;
	border-color: #07f;
	box-shadow: 0 0 0 2px rgba(0,119,255,0.2);
	box-sizing: border-box;
}

.ad-error-pn-c {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.075);
	z-index: 10000;
}

.ad-error-panel {
	position: relative;
	width: 300px;
	height: max-content;
	border-radius: 25px;
	overflow: hidden;
	background-color: #FFF;
	box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.05);
	z-index: 10000;
}

.ad-error-panel .ad-err {
	height: 100%;
	width: 100%;
	display: flex;
	display: -webkit-flex;
	align-items: center;
}

.ad-error-panel p {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	min-height: calc(130px - 35px);
	width: 100%;
	padding-top: 10%;
	padding: 10px;
	font-size: 1.3em;
	text-align: center;
}

.ad-status-panel p {
	width: 100%;
	padding-top: 10%;
	padding: 10px;
	font-size: 1.3em;
	text-align: center;
}

.ad-status-pan-in {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	height: 50px;
}

.ad-err-close {
	position: relative;
	width: 100%;
	height: 35px;
	border-top: solid 0.5px rgba(0, 0, 0, 0.6);
	text-align: center;
	font-weight: 700;
	line-height: 30px;
}

.ad-err-close:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

/*
*
*   404 Page
*
*/

.nf-b {
	position: relative;
	height: 100vh;
	width: 100vw;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.nf-b svg {
	position: relative;
	height: 40%;
}

.nf-tt {
	margin-top: 5%;
	color: #666666;
	font: 1.4rem "Josefin Sans", sans-serif;
}

.nf-back {
	position: relative;
	width: 150px;
	height: 40px;
	border: 1.5px solid #666666;
	border-radius: 20px;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	color: #666666;
	margin-top: 3%;
	transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nf-back a {
	text-decoration: none;
	text-align: center;
	color: #000;
}

body.desktop .nf-back:hover {
	transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
	box-shadow: 0px 5px 5px #66666691;
	transform: translateY(-5px);
}

@media screen and (max-width: 850px) {
	.nf-b svg {
		width: 70%;
		height: 50%;
	}
	.nf-back {
		margin-top: 10px;
	}
}

.circled-btn {
	&:not(.show) > div + div {
		opacity: 0;
		display: none;
	}

	&.show {
		& > div:first-child {
			opacity: 0;
			display: none;
		}

		& + article {
			background-color: aliceblue;
		}

		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		
		svg {
			fill: #232323;
		}
	}
	
	transition: opacity 0.2s ease;
	z-index: 4;
	position: absolute;
	left: 15px;
	top: 18px;
	width: 20px;
	height: 20px;
	
	& > div {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	svg {
		position: relative;
		width: 20px;
		height: 20px;
		fill: #ffffff;
	}
}

.panel {
	background-color: #FFF;
	display: block;
	overflow: hidden;
	border-radius: 24px;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.14),
	0px 2px 12px rgba(0, 0, 0, 0.06);
	transition: box-shadow 150ms cubic-bezier(.25,.1,.25,1), background-color 500ms ease;
	
	& > *:not(.circled-btn) {
		transition: opacity 0.2s ease;
	}

	&.circled {
		box-shadow: none;

		& > *:not(.circled-btn) {
			opacity: 0;
		}
	}
}

.panel-header {
	// color: #676767;
	color: #FFF;
	background-color: var(--mazor-color);
	padding-top: 12px;
	padding-bottom: 13px;
	width: 100%;
	// border-top-right-radius: 24px;
	// border-top-left-radius: 24px;
	display: flex;
	justify-content: center;
	font-size: 14px;
	line-height: 30px;
	font-weight: 600;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: hidden;
	cursor: grab;

	.menu-close {
		position: absolute;
		left: 15px;
		top: 15px;
		width: 25px;
		height: 25px;

		svg {
			position: relative;
			width: 100%;
			height: 100%;

			fill: #FFF;
		}
		
		&.red-h:hover {
			svg {
				fill: #c62828;
			}
		}
		&.blue-h:hover {
			svg {
				fill: #0981fa;
			}
		}
	}
}

.panel-medium-small {
	width: 340px;
	max-width: 100%;
}

.panel-container {
	overflow-y: auto;
	padding: 15px;
	min-height: 200px;
	height: 100%;
	max-height: 600px;
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;

	.panel-container-row {
		display: flex;
		width: 100%;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;
		margin: 10px 0;
		display: inline-flex;
	}

	.panel-container-col {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: flex-start;
		flex-direction: column;
		margin: 10px 0;
		display: inline-flex;

		p {
			color: #676767;
			cursor: default;
		}
	}

	.panel-button {
		position: relative;
		display: block;
		width: 150px;
		height: 50px;
		border-radius: 8px;
		-webkit-appearance: none;
		padding: 7px 0px 7px 0px;
		font-size: 1em;
		font-weight: 900;
		color: var(--major-color);
		border: 1px solid var(--button-border);
		box-shadow: 0 1px 3px -2px var(--button-shadow);
		background: none;
		transition: all 150ms ease;

		&:hover {
			outline: none;
			border-color: #07f;
			box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
		}

		&.active {
			background: #30d454;
			color: #FFF;
		}
	}

	.panel-text {
		color: var(--major-color);
		cursor: default;
	}
}

.panel-placement {
	position: fixed;
	top: 0;
	left: 0;
	width: 340px;
	height: 100%;
	border: solid 3px #62C1F3;
	background-color: rgba($color: #62C1F3, $alpha: 0.5);
	z-index: 101;
}

.ad-pn-c, .ad-pn-cp {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.075);
	// backdrop-filter: blur(5px);
	// -webkit-backdrop-filter: blur(5px);
	z-index: 5005;

	.ad-panel, .ad-status-panel {
		position: relative;
		width: 350px;
		height: max-content;
		border-radius: 15px;
		overflow: hidden;
		background-color: #FFF;
		box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.05);
		opacity: 0;
		padding: 15px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	
		animation: show-pan 0.3s ease-in-out forwards;

		.ad-err {
			height: 100%;
			min-height: calc(130px - 40px);
			width: 100%;
			display: flex;
			display: -webkit-flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 10px 20px;	
		
			p {
				display: inline-block;
				vertical-align: middle;
				width: 100%;
				font-size: 1.3em;
				text-align: center;
				color: #686868;
			}
		}

		.ad-btn {
			height: 40px;
			width: 100%;
			display: flex;
			flex-direction: row;
			margin: 0 0 5px;

			.ad-err-close {
				position: relative;
				width: calc(100% - 10px);
				margin: 0 5px;
				height: 40px;
				border-radius: 10px;
			
				--ad-border-color: #f2f2f2;
				--ad-primary-color: 0, 0, 0;
				--ad-red-primary-color: 211, 47, 47;
				background-color: transparent;
				border: 1.5px solid var(--ad-border-color);
				
				p {
					height: 100%;
					line-height: 37px;
					font-size: 16px;
					text-align: center;
				}
				
				&.ad-demi {
					width: 50%;
				}
		
				&:hover {
					border-color: rgba($color: var(--ad-primary-color), $alpha: 0.4);
				}
				
				&.ad-demi-sup {
					&:hover {
						border-color: rgba($color: var(--ad-red-primary-color), $alpha: 0.4);
					}
					color: rgba($color: var(--ad-red-primary-color), $alpha: 1);
					background-color: var(--ad-border-color);
				}
			}
		}
	}

	.ad-status-panel p {
		width: 100%;
		padding-top: 10%;
		padding: 10px;
		font-size: 1.3em;
		text-align: center;
	}
}

@keyframes show-pan {
	0% {
		opacity: 0;
		transform: scale(0.5);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}


/* square loader */

$colors:
	hsla(337, 84, 48, 0.75)
	hsla(160, 50, 48, 0.75)
	hsla(190, 61, 65, 0.75)
	hsla( 41, 82, 52, 0.75);
$size: 2.5em;
$thickness: 0.5em;

// Calculated variables.
$lat: ($size - $thickness) / 2;
$offset: $lat - $thickness;

.inner-loader {
	position: relative;
	width: $size;
	height: $size;
	transform: rotate(165deg);
	
	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		display: block;
		width: $thickness;
		height: $thickness;
		border-radius: $thickness / 2;
		transform: translate(-50%, -50%);
	}
	
	&:before {
		animation: before 2s infinite;
	}
	
	&:after {
		animation: after 2s infinite;
	}
}

@keyframes before {
	0% {
		width: $thickness;
		box-shadow:
		$lat (-$offset) nth($colors, 1),
		(-$lat) $offset nth($colors, 3);
	}
	35% {
		width: $size;
		box-shadow:
		0 (-$offset) nth($colors, 1),
		0   $offset  nth($colors, 3);
	}
	70% {
		width: $thickness;
		box-shadow:
		(-$lat) (-$offset) nth($colors, 1),
		$lat $offset nth($colors, 3);
	}
	100% {
		box-shadow:
		$lat (-$offset) nth($colors, 1),
		(-$lat) $offset nth($colors, 3);
	}
}

@keyframes after {
	0% {
		height: $thickness;
		box-shadow:
		$offset $lat nth($colors, 2),
		(-$offset) (-$lat) nth($colors, 4);
	}
	35% {
		height: $size;
		box-shadow:
			$offset  0 nth($colors, 2),
		(-$offset) 0 nth($colors, 4);
	}
	70% {
		height: $thickness;
		box-shadow:
		$offset (-$lat) nth($colors, 2),
		(-$offset) $lat nth($colors, 4);
	}
	100% {
		box-shadow:
		$offset $lat nth($colors, 2),
		(-$offset) (-$lat) nth($colors, 4);
	}
}